@font-face {
    font-family: "Varino";
    src: url("../../assets/Varino.otf");
  }
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right,#014b39, #00bf8f);
    height: 75vh;
    width: 90vw;
    animation: mymove 0.5s;
    animation-fill-mode: forwards;
    transform: translateY(-100vh);  
    font-size: 2vw;
    font-family: Lucida Sans;
    cursor: default;
 }
.photo{
      
    width: 20vw;
    height: 20vw;
    border-radius: 67% 33% 73% 27% / 28% 65% 35% 72% ;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}
.photo:hover{
    transform: rotate(-360deg);
    transition: 0.5s;
}
.space{
    width: 10px;
}
.name{
    display: flex;
    justify-content: center;
    font-size: 3.5vw;
    font-family:"Varino";
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
   color: #222831;
   filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
   height: 50%;
   
}
.letter{
    
    color: #DDDDDD;
}
.letter:hover{
    color: var(--color4);
    transform: rotateY(360deg);
    transition: 0.5s;
    filter: drop-shadow(1px 1px 3px rgba(255, 1, 1, 0.5));
}


@keyframes mymove {
    
       to {transform: translateY(0vh)}
  }
  @media (max-width: 800px) {
    .container{
        font-size: 3vw;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }    
    .photo {
        width: 40vw;
    height: 40vw;
    }  
    .info{
        margin-top: 40px;
        width: 80%;
        height: 40%;
        font-size: 3.5vw;
    }
    .name{
        font-size: 6vw;
    }
    
   
}