body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--color1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --color1: #DDDDDD;
  --color2: #222831;
  --color3: #30475E;
  --color4: #F05454;
}

[theme="light"]{
  --color4: #DDDDDD;
  --color3: #222831;
  --color2: #30475E;
  --color1: #F05454;
  
}
